# ===== Unity Generated Folders =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# ===== User Settings =====
UserSettings/

# ===== OS Generated =====
.DS_Store
Thumbs.db

# ===== IDE / Editor Files =====
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj